.value-box {
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    font-family: "IBM";
    font-size: 18px;
}

.value-box-background {
    width: calc(100% - 60px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 10px;
    background-color: #22092C;
    border-radius: 8px;
}

.value-box-name {
    color: #ffffff;
    font-weight: 500;
    margin: auto 0;
}

.checkbox-container {
    width: 28px;
    height: 28px;
    margin: auto 0;
    position: relative;
}

.value-box-checkbox {
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    margin: 0;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.checkmark {
    z-index: 1;
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.value-box-checkbox:checked {
    background-color: #BFD8AF;
    border: #99BC85 solid 2px;

    .checkmark {
        display: inline;
    }
}