.value-box {
    border-radius: 8px;
    display: flex;
    gap: 10px;
    font-family: "IBM";
    font-size: 18px;
    font-weight: 500;
}

.value-box-background {
    width: calc(100% - 60px);
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 10px;
    background-color: #22092C;
    border-radius: 8px;
}

.value-box-name {
    color: #ffffff;
    margin: auto 0;
}

.number-container {
    display: flex;
    gap: 5px;
}

.number-button {
    width: 20px;
    height: 20px; 
    border-radius: 8px; 
    border: 0;
    margin: auto;
    font-family: "IBM";

    &:hover {
        scale: 1.05;
    }

    &:active {
        scale: 1;
        background-color: #c4c4c4;
    }
}

.number-field {
    width: 90px;
    height: 28px;
    border-radius: 8px;
    border: 0;
    font-family: "IBM";
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}