$colors: (
  carscolor: #C5281C,
  primary: #387ef5,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #000,
  popover: #404040,
  unread: #808080,
  note: #666,

  primary_button: #BE3144,
  primary_button_outline: #872341,
);
